In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:

filename = 'car.csv'
# importing pandas
import pandas as pd
  
# read text file into pandas DataFrame
data = pd.read_csv(filename)
  
# display DataFrame
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [ ]:
# Changing column names for betterment
col_names = ['buying','maint','doors','persons','lug_boot','safety','class']
data.columns = col_names
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [ ]:
def show(data):
  for i in data.columns[1:]:
    print("Feature: {} with {} Levels".format(i,data[i].unique()))

show(data)

Feature: maint with ['vhigh' 'high' 'med' 'low'] Levels
Feature: doors with ['2' '3' '4' '5more'] Levels
Feature: persons with ['2' '4' 'more'] Levels
Feature: lug_boot with ['small' 'med' 'big'] Levels
Feature: safety with ['med' 'high' 'low'] Levels
Feature: class with ['unacc' 'acc' 'vgood' 'good'] Levels

In [ ]:
!pip install --upgrade category_encoders
import category_encoders as ce 
encoder = ce.OrdinalEncoder(cols = ['buying','maint','doors','persons','lug_boot','safety','class'])
data = encoder.fit_transform(data)
data.head()

Collecting category_encoders
  Downloading category_encoders-2.4.0-py2.py3-none-any.whl (86 kB)
     |████████████████████████████████| 86 kB 3.0 MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2022.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.4.0

   buying  maint  doors  persons  lug_boot  safety  class
0       1      1      1        1         1       1      1
1       1      1      1        1         1       2      1
2       1      1      1        1         2       3      1
3       1      1      1        1         2       1      1
4       1      1      1        1         2       2      1

In [ ]:
X = data.drop(['class'], axis = 1)
y = data['class']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from numpy import mean
from numpy import std
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
# prepare the cross-validation procedure
cv = RepeatedKFold(n_splits=5, n_repeats=10, random_state=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)
Rf = RandomForestClassifier(n_estimators=40)
Rf.fit(X_train, y_train)
scores1=Rf.score(X_test, y_test)
print('Accuracy: %.6f (%.6f)' % (scores1, std(scores1)))

Accuracy: 0.979505 (0.009252)

In [ ]:
entr_model = tree.DecisionTreeClassifier(criterion="entropy", random_state = 1234)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

entr_model.fit(X_train, y_train)
scores1=entr_model.score(X_test, y_test)
print('Accuracy: %.6f (%.6f)' % (scores1, std(scores1)))

Accuracy: 0.979793 (0.007075)

In [ ]:
ab = AdaBoostClassifier(n_estimators=100, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

ab.fit(X_train, y_train)
scores1=ab.score(X_test, y_test)
print('Accuracy: %.6f (%.6f)' % (scores1, std(scores1)))

Accuracy: 0.859012 (0.017027)

In [ ]:
knn = KNeighborsClassifier(n_neighbors=10, p=2, metric= "euclidean")
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

knn.fit(X_train, y_train)
scores1=knn.score(X_test, y_test)
print('Accuracy: %.6f (%.6f)' % (scores1, std(scores1)))

Accuracy: 0.951597 (0.014182)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)
NB = GaussianNB()
NB.fit(X_train, y_train)
scores1=NB.score(X_test, y_test)

print('Accuracy: %.6f (%.6f)' % (scores1, std(scores1)))

Accuracy: 0.714766 (0.023070)